*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
body{
     height: 100vh;
     background-color: black;
     

}
header{
       font-family: 'pokemon';
       font-size: 2em;
       text-align: center;
       background-color:  #ffe795;
       border-bottom: 3px solid  black;
}
main{
     background-color: #ff4055;
     padding-bottom: 600px;
     position: relative;
}

.game-board{
     width: 80%;
     height: 500px;
     border: 3px solid black;
     margin: auto;
     position: relative;
     overflow: hidden;
     background-image: linear-gradient(to top, #40ff63, white, #15b6ff);
     border-bottom: 20px solid green;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     box-shadow: 5px 5px 8px #551c20;

}
footer{
     margin: auto;
     background-color: black;
     color: white;
     text-align: center;
     width: 63%;
     font-size: 25px;
}
#roda{
     width: 100%;
     margin: auto;
     text-align: justify;
}
#roda > p{
     font-size: 35px;
}
#final > h1{
     color: white;
     text-shadow: none;
     font-weight: normal;
     font-size: 3em;
}
.atencao{
     padding-bottom: 50px;
}
#controls{  
     width: 42%;
     margin: auto;
}
#skin{
     margin-top: 50px;
}
.skin{
     display: block;
     margin: auto;
     width: 50%;
     height: 50px;
     border-radius: 10px;
}
#bonecos{
     border: 3px solid black;
     width: 100%;
     margin: auto;
     background-color: #868686;
     border-radius: 8px;
     box-shadow: 3px 3px 6px #00000098;
     display: none;
}
.escolha{
     width: 18%;
     display: inline-block;
     margin: auto;
     border: 3px;
}
#mew2{
     width: 18%;
}
.up{
     display: block;
     margin: auto;
     width: 120px;
     height: 70px;
     font-size: 2em;
     background-color: greenyellow;
     box-shadow: 2px 2px 5px #83212b;
     display: inline-block;
     border-radius: 8px;
}
.pontuacao{
     position: absolute;
     top: 2%;
     left: 77%;
     font-size: 35px;
     background-color: transparent;
     border: 3px solid black;
     border-radius: 10px;
     box-shadow: 2px 2px 5px black;
     font-weight: 400;
     
}
.up:active{
     background-color: #1b9f37;
}
.grama1{
     position: absolute;
     top: 40%;
     
}
.grama2{
     position: absolute;
     top: 40%;
     left: 40%;
}
#rai{
     width: 30%;
     position: absolute;
     left: 32%;
     top: 0%;
     animation: none;
     display: none;


}
#mew{
     position: absolute;
     left: 47%;
     width: 40%;
     animation: mew-A 15s infinite linear;
}
#pedra{
     animation: pedra 3s infinite linear;
     position: absolute;
     bottom: 0%;
}
.pipe1{
     position: absolute;
     bottom: -10%;    
     width: 25%;  
     right: 120px;     
     animation: none; 
}

.char{
     width: 30%;
     position: absolute;
     bottom: 0px;
     right: 0;
     animation: none;

}
#fly1{
     display: block;
    
   
}
#nu{
     width: 350px;
     position: absolute;
     top: 0%;
     animation:nu-vem 15s infinite linear;
}
#pk{
     margin: auto;
     width: 63%;
     border: 3px solid black;
     background-color:  #ffe795;
}
#pkk{
     display: inline;
    
}
#logo{
     display: inline;
     color: black;
     text-shadow: 5px 5px 8px #85784e; 
         
}
#GameOver{
     font-family: 'pokemon';
     text-shadow: none;
     position: absolute;
     left: 32%;
     top: 33%;
     font-size: 4em;
     color: #252525;
     animation: none;
     display: none;
}
#l{
     width: 60px;
}
.lg{
     width: 32%;
     position: relative;
     display: inline-block;
     margin: auto;
}

@keyframes pipe-animation{
from{
     left:-30%;
}
to{
     left:87%;
}
}
@keyframes fly {
     0%{
          bottom: 0;
     }
  /*  40%{
          bottom: 150px;
     }
    */50%{
          bottom: 170px;/ 
     }
     60%{
          bottom: 150px;
     }
     
     
     0%{
          bottom: 0;
     }
}
@keyframes nu-vem{
from{
     left: -400px;
}
to{
     left: 100%;
}
}

@keyframes rai-kua{
from{
     top: 100%;
}
to{
     top: 0%;
}
}
@keyframes Game-Over{
from{
     top: 132%;
}
to{
     top: 32%;
}
}
@keyframes mew-A {
     from{
          left: 10%;
     }
     to{
          left: 57%;
     }
}
@keyframes pedra{
from{
     left: -400px;
}
to{
     left: 100%;
}
}
